<!DOCTYPE html>
<html>
<head>
    <title>AI Gen - Contact Us</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    
</head>
<body>
    <header>
        <h1>Contact Us</h1>
    </header>

    <nav>
        <!-- Include navigation links here -->
    </nav>

    <section>
        <h2>Contact Information</h2>
        <p>If you have any questions or need assistance, you can reach us at:</p>
        <p>Address: HSR Layout, Bengaluru, Karnataka, 560102</p>
        <p>Email: rajat@wodka.ai</p>
        <p>Phone: +91 9891047226</p>
    </section>

    <section>
        <h2>Business Hours</h2>
        <p>Our support team is available during the following hours:</p>
        <p>Monday to Friday: 9:00 AM - 5:00 PM</p>
        <p>Saturday: 10:00 AM - 2:00 PM</p>
    </section>
</body>
</html>
