<!DOCTYPE html>
<html>
<head>
    <title>AI Gen - Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">

</head>
<body>
    <header>
        <h1>AI Gen</h1>
        <p>Unlocking the Future with AI and Backend Solutions

            At AI Gen, we are pioneers in the world of artificial intelligence and backend services, committed to shaping the future of businesses and individuals. Our mission is to empower our clients with innovative, data-driven, and personalized solutions that catalyze growth and streamline operations.
            
            As an AI and backend service provider, we specialize in crafting customized solutions that are tailored to the unique needs of our clients. Whether you are a business seeking to harness the power of AI for predictive analytics, automation, or customer engagement, or an individual looking for intelligent applications that enhance your daily life, we have you covered.
            
            Our team of dedicated experts is driven by a passion for innovation and a deep understanding of cutting-edge technologies. We work collaboratively with our clients to identify opportunities, solve challenges, and deliver solutions that drive tangible results.
            
            Transparency, security, and scalability are at the core of what we do. We are committed to maintaining the highest standards of data privacy and security, ensuring that your trust in us is well-placed.
            
            Join us on a journey where possibilities are limitless. Experience the transformative potential of AI and backend services with AI Gen, where every solution is as unique as you are.</p>
    </header>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/refundandcancellation">Refund & Cancellation</a></li>
            <li><a href="/privacypolicy">Privacy Policy</a></li>
            <li><a href="/checkout">Checkout</a></li>
            <li><a href="/shipping">Shipping & Delivery</a></li>
            <li><a href="/termsandconditions">Terms & Conditions</a></li>
            <li><a href="/contactus">Contact Us</a></li>
        </ul>
    </nav>

    
</body>
</html>
